services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
      args:
        - GITHUB_AUTH_TOKEN=${GITHUB_AUTH_TOKEN}
    image: sabine
    container_name: sabine
    restart: unless-stopped
    ports:
      - "${PORT}:${PORT}"
    depends_on:
      redis:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://redis:6379

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5